@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body,
html {
  padding: 0;
  margin: 20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: grey;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#Username
{
    border:none;
    border-bottom:1px solid;
}

.screen
{
  width:100%;
  height:20px;
  background:#4388cc;
  color:#fff;
  line-height:20px;
  font-size:15px;
}

.smallBox::before
{
  content:".";
  width:15px;
  height:15px;
  float:left;
  margin-right:10px;
}
.greenBox::before
{
  content:"";
  background:Green;
  float:right;
  margin-left: 10px;
}

.redBox::before
{
  content:"";
  background:Red;
  float:right;
  margin-left: 10px;
}
.emptyBox::before
{
  content: ".";
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color:#ccc;
    float:right;
    margin-left: 10px;
}

.seats
{
  border:1px solid red;background:yellow;
} 



.seatGap
{
  width:40px;
}

.seatVGap
{
  height:40px;
}

table
{
  text-align:center;
}


.Displaytable
{
  text-align:center;
}
.Displaytable td, .Displaytable th {
    border: 1px solid;
    text-align: left;
}

textarea
{
  border:none;
  background:transparent;
}



.seats {
    width:0px;
    margin-right:18px;
}

.seats:before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ccc;
}

.seats:checked:before {
    background-color:Green;
    font-size: 15px;
}

/* Add red color to checkbox when it's inside a box with the reserved class */
.reserved.seats:before {
  background-color: Red;
  font-size: 15px;
}
.inputForm{
  font-size: 20px;
  color: black;
}
.inputForm button{
  color:#fff;
  background:#5892FF;
  border:none;
  padding:10px 50px;
  margin:30px 0;
  border-radius:30px;
  text-transform:capitalize;
}
.seatStructure button{
  color:#fff;
  background:#5892FF;
  border:none;
  padding:10px 50px;
  margin:30px 0;
  border-radius:30px;
  text-transform:capitalize;
}