<!DOCTYPE html>
<html>
<head>
<title>Access Denied</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body{
background-color: #E72929;
color: black;
}

h1 {
color: black;
}

h6{
color: black;
text-decoration: underline;
}


</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div class="w3-display-middle"><center>    <span style="font-size: 1000%;" class="material-symbols-outlined">
        cancel
        </span></center><p class="w3-jumbo w3-animate-top w3-center">Access Denied</p>

<hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
<h3 class="w3-center w3-animate-right">कृपया आप अंदर नहीं जा सकते | यदि यह त्रुटि है, तो नजदीकी संकाय से संपर्क करें</h3>
<h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
</div>
</body>
</html>